html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
}

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-flex.flex-column {
  flex-direction: column;
}

.d-flex.jc-center {
  justify-content: center;
}

.d-flex.ai-center {
  align-items: center;
}

.posi-rel {
  position: relative;
}

.posi-abs {
  position: absolute;
}

.posi-fix {
  position: fixed;
}

.text-center {
  text-align: center;
}

// 生成margin
@for $i from 0 through 5 {
  .ma-#{$i * 5} {
    margin: 5px * $i !important;
  }

  .ml-#{$i * 5} {
    margin-left: 5px * $i !important;
  }

  .mr-#{$i * 5} {
    margin-right: 5px * $i !important;
  }

  .mt-#{$i * 5} {
    margin-top: 5px * $i !important;
  }

  .mb-#{$i * 5} {
    margin-bottom: 5px * $i !important;
  }

  .mx-#{$i * 5} {
    margin-left: 5px * $i !important;
    margin-right: 5px * $i !important;
  }

  .my-#{$i * 5} {
    margin-top: 5px * $i !important;
    margin-right: 5px * $i !important;
  }
}

// 生成固定宽度
@for $i from 1 through 10 {
  .w-#{$i * 50} {
    width: 50px * $i;
  }
}

// 生成百分比宽度
@for $i from 0 through 10 {
  .w100-#{$i * 10} {
    width: 10%*$i;
  }
}

// 生成flex大小
@for $i from 0 through 5 {
  .flex-#{$i} {
    flex: $i;
  }
}