// scss变量

// 登录页的背景颜色
$loginPageBackgroundColor: #77ccee;

// aside
$sidebarBg: #304156;
$sidebarMenuBg: #304156;
$sidebarMenuTextColor: #bfcbd9;
$sidebarMenuActiveTextColor: #409EFF;
$sidebarSubMenuBgColor: #1f2d3d;
$sidebarSubMenuHoverBgColor: #001528;
$sidebarWidth: 210px;

:export {
  loginPageBackgroundColor: $loginPageBackgroundColor;
  sidebarBg: $sidebarBg;
  sidebarMenuBg: $sidebarMenuBg;
  sidebarMenuTextColor: $sidebarMenuTextColor;
  sidebarMenuActiveTextColor: $sidebarMenuActiveTextColor;
  sidebarSubMenuBgColor: $sidebarSubMenuBgColor;
  sidebarSubMenuHoverBgColor: $sidebarSubMenuHoverBgColor;
  sidebarWidth: $sidebarWidth;
}